.footer {
  --background-color: var(--light-grayish-orange);
  --color: var(--dark-gray-transparent);

  background-color: var(--background-color);
  color: var(--color);
  padding: 2.5rem 1.25rem 3.75rem;
  line-height: 1.2;
  letter-spacing: 0;
}

@media (--desktop) {
  .footer {
    @mixin sans-font 500;

    padding: 2.5rem 4.45rem 4.45rem;
    font-size: 0.8rem;
    line-height: initial;
    letter-spacing: -0.0175ch;
  }
}
